*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
}
.full{
    width: 80%;
    margin: auto;
    padding-top: 3em;
}
.ful{
    width: max-content;
    margin: auto;
}
.clock{
    width: max-content;
    margin: auto;
}
.clock > p{
    font-size: 5em;
    color: rgb(255, 132, 152);
    font-weight: 600;
}
button{
    margin: 1em;
    font-size: 1em;
    padding: 9px 19px;
    background-color: rgb(255, 132, 152);
    border-radius: 25px;
    font-weight: 550;
    border: 2px solid black;
}
.disable{
    background-color: rgb(255, 184, 196);
    pointer-events: none;
}
.lapbtndiv{
    width: max-content;
    margin: auto;
}


/* below css is for the showing lapse data  */
.base{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: max-content;
    margin: 1em auto;
    padding-left: 2em;
}
.inner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width:200px;
}
.head{
    border-bottom: 2px solid black;
    height:max-content;
    margin: 0px;
}
.head > p{
    font-size: 1.7em;
    font-weight: 550;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}
.content  p{
    font-size: 1.1em;
}
.content > div{
    margin-left: 0.2em;
}


@media screen and ( max-width : 800px ) {
    .full{
        padding-top: 2em;
        width : 100%;
    }
    .clock > p{
        font-size: 2em;
    }
    button{
        margin: 0.5em;
        font-size: 0.5em;
        padding: 5px 11px;
    }
    .base{
        padding: 0.4em;
        padding-left: 0.8em;
    }
    .inner1{
        gap: 0.6em;
        width: 100px;
    }
    .head > p{
        font-size: 0.8em;
    }
    .content p{
        font-size: 0.6em;
    }
}